@model LoginViewModel

<h1>Login</h1>
<form asp-controller="Auth" asp-action="ExternalLogin"
      asp-route-returnUrl="@ViewBag.ReturnUrl" method="post">
    @foreach (var provider in ViewBag.ExternalProviders)
    {
        <button name="provider"
                type="submit"
                value="@provider.Name">
            @provider.Name
        </button>
    }
</form>