@page
@model Stackjudge_Identity_Server.Pages.Account.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Login</h1>
<form asp-controller="GetListAction" asp-action="ExternalLogin"
      asp-route-returnUrl="@Model.LoginData.ReturnUrl" method="post">
    @foreach (var provider in Model.LoginData!.ExternalProviders)
    {
        <button name="provider"
                type="submit"
                value="@provider.Name">
            @provider.Name
        </button>
    }
</form>